body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%; /* Make the button full width */
}

button:hover {
    background-color: #45a049;
}

.result-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust the grid layout for responsiveness */
}

.result-container div {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center; /* Center the text in each grid item */
}

.total-hours-container {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center; /* Center the text */
}

.help_title {
    display: inline;
}

@media only screen and (max-width: 600px) {
    /* Apply styles for screens with a maximum width of 600px (typical mobile screens) */
    .container {
        margin: 20px;
        padding: 10px;
    }

    .result-container {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }
}
